/* Set boxes in initial position off-screen and add silky-smooth transitions */
#learning-box {
    left: -100%;
    top: -100%;
    transition: all 1s ease-out;
}

#ap-box {
    right: -100%;
    top: -100%;
    transition: all 1s ease-out;
}

#music-box {
    left: -100%;
    bottom: -100%;
    transition: all 1s ease-out;
}

#coding-box {
    right: -100%;
    bottom: -100%;
    transition: all 1s ease-out;
}